body{
	background-image: url("fondo1.svg");
	background-repeat: no-repeat;
	font-family: sans-serif;
	background-size: cover;
	
}
h1 {
	color: white;
	font-size: 30px;
	text-align: center;
}
form {
	background-color: white;
	width: 300px;
	margin: auto;
	margin-top: 200px;
	padding: 50px;
}

.form, #form {
	text-align: center;
}

